.btn-primary {
	background: transparent;
	border: 2px solid $theme;
	line-height: 45px;
	text-align: center;
	padding: 0 35px;
	font-size: $font-body + 1;
	font-weight: bold;
	color: $theme;
	letter-spacing: 0.5px;
	border-radius: 0;
	@include transition(all, 0.3s, ease);
	position: relative;
	z-index: 2;
	&:before{
		position: absolute;
	    content: '';
	    left: 0;
	    background: $theme;
	    right: 100%;
	    top: 0;
	    bottom: 0;
	    @include transition(all, 0.3s, ease);
	    z-index: -1;
	}
	&:hover{
		border:2px solid $theme;
		color: $light-color;
		@include transition(all, 0.3s, ease);
		background: transparent;
		outline: none;
		&:before{
			right:0;
			@include transition(all, 0.3s, ease);
		}
	}
	@media (max-width: 1023px){
		line-height:40px;
		padding:0 30px;
	}
	@media (max-width: 767px){
		line-height:40px;
		padding:0 20px;
	}
}
.oe_menu_editor{
	.btn-primary {
		&:before{
			position:static;
			z-index: 1;
			background-color: transparent;
			content: "\f044";
		}
	}
}